<% @links.each do |l| %>
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= l.clicks %> clicks</span>
      <%= l.actual_url %><br />
      <%= link_to l.short_url, link_redirect_path(l.key), target: "_blank" %>
    </li>
  </ul>
<% end %>